body {
    width: 100%;
    min-width: 320px;
    max-width: 540px;
    margin: 0 auto;
    color: #666;
    font-size: 14px;
    font-family: -apple-system, Arial, Helvetica, sans-serif;
    line-height: 1.5;
    background-color: #ccc;
}

.searchWrapper {
    height: 44px;
    width: 100%;
    position: relative;
    overflow: hidden;
}

.search-btn {
    width: 40px;
    height: 44px;
    top: 0;
    left: 0;
    position: absolute;
}

.search-btn span {
    width: 20px;
    height: 18px;
    background: url(../images/search-btn.png) no-repeat;
    background-size: 20px 18px;
    display: block;
    margin: 14px 0 0 15px;
}

.search {
    background-color: #fff;
    height: 30px;
    margin: 0 50px;
    border-radius: 15px;
    margin-top: 7px;
    position: relative;
}

.search i {
    width: 20px;
    height: 15px;   
    background: url(../images/jd-icon.png);
    display: block;
    background-size: 20px 15px;
    position: absolute;
    top: 8px;
    left: 14px;
}

.search-login {
    width: 40px;
    height: 44px;
    position: absolute;
    top: 0;
    right: 0;
}

.search-login span {
    display: inline-block;
    margin: 10px 0;
    color: #fff;
}